body{
    background-color: #F0E68C;
}
html{
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 60px;
}
p{
    text-indent: 2.0em;
    font-size: 30px;
}
a{
    font-size: 25px;
    color:blue;
}
span{
    font-size: 25px;
}
.results{
    width: 600px;
    height: 300px;
    display: block;
    margin-top: 50px;
}
img{
    display: block;
    margin-top: 40px;
}